/* remove the margin and padding from the entire document and make sure box sizing is true */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* center the container on the page */
body {
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Alert */
.hidden {
    height: 20px;
    width: auto;
    color: red;
}
.alert {
    display: none;
}
/* make the container visible and give it a height and width and center content */
.container {
    height: 500px;
    width: 40rem;
    max-width: 100%;
    padding: 2rem;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
/* place the form at the top of the container */
form {
    margin: 2px;
    display: flex;
    height: 6%;
    width: 100%;
}
form input[type="text"]{
    flex-grow: 1;
    margin: 2px;
}
/* Target all buttons to reset the default browser look */
input[type="submit"],
button {
    appearance: none; 
    -webkit-appearance: none;
    color: white;
    background-color: lightblue;
    border: none;
    padding: 2px 7px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px; 
}
/* hover effect for desktop */
button:hover {
    opacity: 0.8;
}

/* styling todo container */

ul {
    height: 94%;
    width: 100%;
    margin-top: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
li {
     width: 100%;
     display: flex;
     justify-content: center;
     margin: 0.2rem 0;
     /* white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis; */
    }
li span {
    flex-grow: 1;
    background-color: rgb(87, 87, 87);
    color: white;
    cursor:pointer;
    outline: none;
    border-bottom: 1px solid black;
    max-height: 2rem;
    overflow-y:scroll;
}
/* font color for placeholder text */
::placeholder {
color: inherit;
opacity: 1; /* Fix for Firefox */
}

/* For Microsoft Edge */
::-ms-input-placeholder {
color: inherit;
}

/* For Internet Explorer 10-11 */
:-ms-input-placeholder {
color: inherit;
}
